@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
   --grey: grey;
   --dark-grey: rgb(12, 12, 12);
   --yellow: rgba(250, 248, 142, 0.6);
   --blue: rgba(173, 216, 230, 0.8);
   --green: rgba(144, 238, 144, 1);
   --red: rgb(255, 137, 137);
   --px-l: 10%;
   --px-m: 7%;
   --px-s: 3%;
   --px-5: 5px;
   --px-15: 15px;
   --px-25: 25px;

   --header-height: 70px;
}

* {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: rgb(255, 255, 255);
   scroll-behavior: smooth;
}

body {
   background-color: black;
}

header {
   background-color: black;
   position: sticky;
   top: 0;
   left: 0;
}

.spacing {
   padding-left: var(--px-l);
   padding-right: var(--px-l);
   padding-top: var(--px-25);
   padding-bottom: var(--px-25);
   margin-top: var(--px-s);
   margin-bottom: var(--px-s);
}

h1 {
   text-align: center;
   font-size: 60px;
   margin-bottom: var(--px-s);
}

h1::after {
   content: '';
   border-bottom: 5px solid white;
   display: block;
   width: 10%;
   margin: 0px auto;
}

h2 {
   font-size: 35px;
}

.icon {
   width: 20px;
   height: 20px;
}

.icon-big {
   width: 40px;
   height: 40px;
}

.hidden {
   display: none;
}

.block {
   display: block;
}

.no-scroll {
   height: 100%;
   overflow: hidden;
}

#sobremi,
#skills,
#estudios,
#exp,
#proyectos,
#contacto {
   scroll-margin-top: calc(var(--header-height) + 100px);
}

@media (max-width: 1250px) {
   .spacing {
      padding-left: var(--px-m);
      padding-right: var(--px-m);
   }
}

@media (max-width: 700px) {
   h2 {
      font-size: 25px;
   }
}

@media (max-width: 420px) {
   .spacing {
      padding-left: var(--px-s);
      padding-right: var(--px-s);
   }

   h1 {
      font-size: 40px;
   }

   h2 {
      font-size: 20px;
   }
}
