@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
   --grey: grey;
   --dark-grey: rgb(12, 12, 12);
   --yellow: rgba(250, 248, 142, 0.6);
   --blue: rgba(173, 216, 230, 0.8);
   --green: rgba(144, 238, 144, 1);

   --px-l: 15%;
   --px-m: 7%;
   --px-s: 3%;
   --px-5: 5px;
   --px-15: 15px;
   --px-25: 25px;
}

* {
   font-family: 'Nunito', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: rgb(255, 255, 255);
}

body {
   background-color: black;
}

header {
   margin: var(--px-5) var(--px-25);
   position: sticky;
   top: 0;
   left: 0;
}

.padding {
   padding: 0px var(--px-l);
   padding-top: var(--px-s);
}

h1 {
   text-align: center;
   font-size: 60px;
}
