.skills {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.skills-data {
   display: flex;
   justify-content: center;
   gap: 5px;
   flex-wrap: wrap;
}

.skills-info {
   display: flex;
   justify-content: center;
}

.skills-info [class*='level'] {
   border: none;
}

[class*='level'] {
   padding: 5px 15px;
   border-radius: 25px;
   cursor: pointer;
}

.level-1 {
   border: 2px solid var(--yellow);
   color: var(--yellow);
}

.level-2 {
   border: 2px solid var(--blue);
   color: var(--blue);
}

.level-3 {
   border: 2px solid var(--green);
   color: var(--green);
}

.level-x {
   color: var(--grey);
}

@media (max-width: 420px) {
   .skills-info div {
      padding: 0px 8px;
   }

   .skill {
      font-size: 13px;
   }
}
