.aboutme {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 250px 1fr;
   gap: 50px;
   align-items: center;
   z-index: -5;
}

.aboutme-avatar img {
   max-width: 250px;
}

.aboutme-data {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.name {
   font-size: 50px;
   max-width: 100%;
   border-bottom: 1px solid white;
}

.name span {
   font-size: 30px;
   color: var(--grey);
}

.description {
   font-size: 30px;
   text-align: justify;
}

@media (max-width: 1150px) {
   .aboutme {
      position: relative;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
   }

   .aboutme-avatar {
      position: absolute;
      z-index: -1;
      opacity: 25%;
      left: 50%;
      transform: translate(-50%, 0);
   }
}

@media (max-width: 420px) {
   .name {
      font-size: 35px;
   }

   .name span {
      font-size: 20px;
   }

   .description {
      font-size: 20px;
   }
}
